<!-- Footer -->
<footer class="site-footer site-section bg-light custom-border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="block-7">
                    <h3 class="footer-heading mb-4">About Us</h3>
                    <p>At Utibu Health, we believe in empowering individuals to take control of their health journey.
                        Our mission is to enrich lives by providing convenient access to essential medications for
                        chronic conditions such as HIV, diabetes, and hypertension. </p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2 mx-auto mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Quick Links</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'store' %}">Store</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'docs' %}">Api Docs</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-4">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Us</h3>
                    <ol class="list-unstyled">
                        <li>123 Matibabu Way, Nairobi, Kenya</li>
                        <li><a href="#"><span class="text-info">+123-456-7890</span></a></li>
                        <li>info@utibuhealth.com</li>
                    </ol>
                </div>
            </div>

        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    Utibu Health. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer> <!-- End Footer -->