{% load static %}

<div class="site-navbar py-2">

    <!-- Search Bar -->
    <div class="search-wrap">
        <div class="container">
            <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
            <form action="#" method="post">
                <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
            </form>
        </div>
    </div> <!-- End Search Bar -->

    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="logo">
                <div class="site-logo">
                    <a href="{% url 'home' %}" class="js-logo-clone">Utibu Health</a>
                </div>
            </div>
            <div class="main-nav d-none d-lg-block">
                <nav class="site-navigation text-right text-md-center" role="navigation">
                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                        <li {% if request.path == '/pharmacy/' %} class="active" {% endif %} ><a href="{% url 'home' %}">Home</a></li>
                        <li {% if '/store' in request.path or '/confirmation' in request.path %} class="active" {% endif %} ><a href="{% url 'store' %}">Store</a></li>
                        <li {% if '/about' in request.path %} class="active" {% endif %} ><a href="{% url 'about' %}">About</a></li>
                        {% if user.is_superuser %}
                            <li class="has-children">
                                <a href="">Admin</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
                                    <li><a href="{% url 'api-root' %}">Pharmacy Api</a></li>
                                    <li><a href="{% url 'docs' %}">Api Documentation</a></li>
                                </ul>
                            </li>

                        {% endif %}
                    </ul>
                </nav>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                <span class="icon-menu"></span> </a>
            <div class="icons">
                {% if user.is_authenticated %}
{#                    <span>Welcome, {{ user.username }}</span>#}
                    <a class="btn btn-link" href="{% url 'logout' %}">Logout</a>

{#                    <div class="dropdown">#}
{#                        <span class="dropdown-toggle" id="dropdownMenuLink"#}
{#                              data-toggle="dropdown" aria-expanded="false"> Welcome, {{ user.username }} </span>#}
{#                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
{#                            <li><a class="btn btn-link dropdown-item" href="{% url 'logout' %}">Logout</a></li>#}
{#                        </ul>#}
{#                    </div>#}
                {% else %}
{#                    <span>Login to view username</span>#}
                    <a class="btn btn-link" href="{% url 'login' %}">Login</a>
                {% endif %}
{#                <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>#}
            </div>
        </div>
    </div>
</div>