{% extends 'pharmacy/base.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block content %}

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 col-lg-6">
                    <div class="block-16">
                        <figure>
                            <img src="{% static 'pharmacy/' %}images/bg_1.jpg" alt="Image placeholder"
                                 class="img-fluid rounded">
                            <a href="https://vimeo.com/channels/staffpicks/93951774"
                               class="play-button popup-vimeo"><span class="icon-play"></span></a>
                        </figure>

                    </div>
                </div>
                <div class="col-md-0 col-lg-1"></div>
                <div class="col-md-12 col-lg-5">

                    <div class="site-section-heading pt-3 mb-4">
                        <h2 class="text-black">Mission Statement</h2>
                    </div>
                    <p>Our goal is to make it convenient for our patients to order their medications and manage their
                        prescriptions remotely. Whether you're dealing with chronic conditions like HIV, diabetes, or
                        hypertension, we're here to ensure you have easy access to the medications you need.</p>

                    <p>With our innovative web app, patients can now order their prescriptions remotely, ensuring
                        they never miss a dose. Whether you prefer the convenience of doorstep delivery or the
                        familiarity of in-person pickup, Utibu Health is here to cater to your needs. Experience peace
                        of mind knowing that your health is in capable hands. Together, let's embark on a journey
                        towards better health and well-being. Choose Utibu Health, where empowerment meets
                        excellence.</p>

                </div>
            </div>
        </div>
    </div>

    {#    <div class="site-section bg-light custom-border-bottom" data-aos="fade">#}
    <div class="site-section-sm site-blocks-1 border-0" data-aos="fade">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Meet Our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="{% static 'pharmacy/' %}images/person_1.jpg" alt="Image placeholder"
                                     class="mb-4">
                                <h3 class="block-38-heading h4">Dr. Jane Kamau</h3>
                                <p class="block-38-subheading">Chief Medical Officer</p>
                            </div>
                            <div class="block-38-body">
                                <p>Dr. Kamau brings years of experience in managing chronic conditions and is committed
                                    to providing personalized care to each patient. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="{% static 'pharmacy/' %}images/person_2.jpg" alt="Image placeholder"
                                     class="mb-4">
                                <h3 class="block-38-heading h4">Daniel Mwangi</h3>
                                <p class="block-38-subheading">Head Pharmacist</p>
                            </div>
                            <div class="block-38-body">
                                <p>Daniel oversees our pharmacy operations, ensuring that medications are dispensed
                                    accurately and efficiently. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="{% static 'pharmacy/' %}images/person_3.jpg" alt="Image placeholder"
                                     class="mb-4">
                                <h3 class="block-38-heading h4">Grace Wambui</h3>
                                <p class="block-38-subheading">Customer Support Specialist</p>
                            </div>
                            <div class="block-38-body">
                                <p>Grace is here to assist you with any questions or concerns you may have. Her friendly
                                    demeanor and expertise make her an invaluable member of our team. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="{% static 'pharmacy/' %}images/person_4.jpg" alt="Image placeholder"
                                     class="mb-4">
                                <h3 class="block-38-heading h4">David Ochieng</h3>
                                <p class="block-38-subheading">Technology Manager</p>
                            </div>
                            <div class="block-38-body">
                                <p>David leads our tech team in developing and maintaining our mobile app, ensuring a
                                    seamless user experience for our customers. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}