<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>{% block title %} Utibu Health {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'phamacy/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'phamacy/' %}css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'phamacy/' %}css/magnific-popup.css">
    <link rel="stylesheet" href="{% static 'phamacy/' %}css/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'phamacy/' %}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static 'phamacy/' %}css/owl.theme.default.min.css">


    <link rel="stylesheet" href="{% static 'phamacy/' %}css/aos.css">

    <link rel="stylesheet" href="{% static 'phamacy/' %}css/style.css">

</head>

<body>

<div class="site-wrap">

    <!-- Navigation Bar -->
    {% include 'pharmacy/sections/navigation.html' %}  <!-- End Navigation Bar -->

    <!-- Main Section -->
    {% block content %}

    {% endblock %} <!-- End Main Section -->

    <!-- Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="block-7">
                        <h3 class="footer-heading mb-4">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio
                            voluptates sed dolorum excepturi iure eaque, aut unde.</p>
                    </div>
                </div>
                <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                    <h3 class="footer-heading mb-4">Quick Links</h3>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'store' %}">Store</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ol class="list-unstyled">
                            <li>Kenyatta Hospital, Nairobi, KE</li>
                            <li><a href="#">+254 722 143 474</a></li>
                            <li>emailaddress@domain.com</li>
                        </ol>
                    </div>
                </div>

            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        Utibu Health &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved
                    </p>
                </div>

            </div>
        </div>
    </footer> <!-- End Footer -->

</div>

<script src="{% static 'phamacy/' %}js/jquery-3.3.1.min.js"></script>
<script src="{% static 'phamacy/' %}js/jquery-ui.js"></script>
<script src="{% static 'phamacy/' %}js/popper.min.js"></script>
<script src="{% static 'phamacy/' %}js/bootstrap.min.js"></script>
<script src="{% static 'phamacy/' %}js/owl.carousel.min.js"></script>
<script src="{% static 'phamacy/' %}js/jquery.magnific-popup.min.js"></script>
<script src="{% static 'phamacy/' %}js/aos.js"></script>

<script src="{% static 'phamacy/' %}js/main.js"></script>

</body>

</html>