<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>{% block title %} Utibu Health {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'phamacy/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'phamacy/' %}css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'phamacy/' %}css/magnific-popup.css">
    <link rel="stylesheet" href="{% static 'phamacy/' %}css/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'phamacy/' %}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static 'phamacy/' %}css/owl.theme.default.min.css">


    <link rel="stylesheet" href="{% static 'phamacy/' %}css/aos.css">

    <link rel="stylesheet" href="{% static 'phamacy/' %}css/style.css">

</head>

<body>

<div class="site-wrap">

    <!-- Navigation Bar -->
    {% include 'pharmacy/sections/navigation.html' %}  <!-- End Navigation Bar -->

    <!-- Main Section -->
    {% block content %}

    {% endblock %} <!-- End Main Section -->

    <!-- Footer -->
    {% include 'pharmacy/sections/footer.html' %}<!-- End Footer -->

</div>

<script src="{% static 'phamacy/' %}js/jquery-3.3.1.min.js"></script>
<script src="{% static 'phamacy/' %}js/jquery-ui.js"></script>
<script src="{% static 'phamacy/' %}js/popper.min.js"></script>
<script src="{% static 'phamacy/' %}js/bootstrap.min.js"></script>
<script src="{% static 'phamacy/' %}js/owl.carousel.min.js"></script>
<script src="{% static 'phamacy/' %}js/jquery.magnific-popup.min.js"></script>
<script src="{% static 'phamacy/' %}js/aos.js"></script>

<script src="{% static 'phamacy/' %}js/main.js"></script>

</body>

</html>