{% extends 'pharmacy/base.html' %}
{% load static %}

{% block title %}
    Utibu Health
{% endblock %}

{% block content %}

    <div class="site-blocks-cover" style="background-image: url('{% static 'phamacy/' %}images/hero_2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h2 class="sub-title">Effective Medicine For Everybody!</h2>
                        <h1 class="">Welcome To Utibu Health</h1>
                        <p><a href="{% url 'store' %}" class="btn btn-primary px-5 py-3">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">

            <div class="row">
                <div class="title-section text-center col-12">
                    <h2 class="text-uppercase">Popular Products</h2>
                </div>
            </div>

            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 text-center item mb-4">
                        <span class="tag">Sale</span>
                        <a href="{% url 'store-item' product.slug %}">
                            {#                            <img src="{% static 'phamacy/images/' %}product_01.png" alt="{{ product.name }}"></a>#}
                            <img src="{{ product.medication_image.url }}" alt="{{ product.name }}"></a>
                        <h3 class="text-dark"><a href="{% url 'store-item' product.slug %}">{{ product.name }}</a></h3>
                        <p class="price">
                            {#                            <del>95.00</del> &mdash; $55.00#}
                            £{{ product.price }}
                        </p>
                    </div>
                {% endfor %}

            </div>

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <a href="{% url 'store' %}" class="btn btn-primary px-4 py-3">View All Products</a>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="title-section text-center col-12">
                    <h2 class="text-uppercase">Testimonials</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 block-3 products-wrap">
                    <div class="nonloop-block-3 no-direction owl-carousel">

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_1.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis
                                    voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto
                                    eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
                            </blockquote>

                            <p>&mdash; Kelly Holmes</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_2.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis
                                    voluptatem consectetur quam tempore
                                    obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur
                                    ducimus. Minus ratione sit quaerat
                                    unde.&rdquo;</p>
                            </blockquote>

                            <p>&mdash; Rebecca Morando</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_3.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis
                                    voluptatem consectetur quam tempore
                                    obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur
                                    ducimus. Minus ratione sit quaerat
                                    unde.&rdquo;</p>
                            </blockquote>

                            <p>&mdash; Lucas Gallone</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_4.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis
                                    voluptatem consectetur quam tempore
                                    obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur
                                    ducimus. Minus ratione sit quaerat
                                    unde.&rdquo;</p>
                            </blockquote>

                            <p>&mdash; Andrew Neel</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

