{% extends 'pharmacy/base.html' %}
{% load static %}

{% block title %}
    Utibu Health
{% endblock %}

{% block content %}

    <div class="site-blocks-cover" style="background-image: url('{% static 'phamacy/' %}images/hero_2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h2 class="sub-title">Empowering Health, Enriching Lives.</h2>
                        <h1 class="">Welcome To Utibu Health</h1>
                        <p><a href="{% url 'store' %}" class="btn btn-primary px-5 py-3">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">

            <div class="row">
                <div class="title-section text-center col-12">
                    <h2 class="text-uppercase">Popular Products</h2>
                </div>
            </div>

            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 text-center item mb-4">
                        <span class="tag">Sale</span>
                        <a href="{% url 'store-item' product.slug %}">
                            {#                            <img src="{% static 'phamacy/images/' %}product_01.png" alt="{{ product.name }}"></a>#}
                            <img src="{{ product.medication_image.url }}" alt="{{ product.name }}"></a>
                        <h3 class="text-dark"><a href="{% url 'store-item' product.slug %}">{{ product.name }}</a></h3>
                        <p class="price">
                            {#                            <del>95.00</del> &mdash; $55.00#}
                            £{{ product.price }}
                        </p>
                    </div>
                {% endfor %}

            </div>

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <a href="{% url 'store' %}" class="btn btn-primary px-4 py-3">View All Products</a>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="title-section text-center col-12">
                    <h2 class="text-uppercase">Testimonials</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 block-3 products-wrap">
                    <div class="nonloop-block-3 no-direction owl-carousel">

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_1.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>"Utibu Health has been a game-changer for me. As someone managing diabetes, having
                                    the convenience of ordering my medications remotely has made a huge difference in my
                                    life. The app is easy to use, and the customer service is exceptional. Thank you,
                                    Utibu Health!"</p>
                            </blockquote>

                            <p>&mdash; Ochieng Omondi</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_2.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>"I can't thank Utibu Health enough for their outstanding service. Being able to
                                    refill my prescriptions without having to visit the doctor's office every time has
                                    saved me so much time and hassle. Plus, the option for doorstep delivery is
                                    incredibly convenient. Highly recommend!"</p>
                            </blockquote>

                            <p>&mdash; Wambui Kimani</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_3.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>"Living with HIV, managing my medications is crucial. Utibu Health's mobile app has
                                    simplified the process for me. I can easily track my prescriptions and order refills
                                    with just a few taps on my phone. The peace of mind knowing that my medications will
                                    be delivered promptly is invaluable. Thank you, Utibu Health, for making my life
                                    easier."</p>
                            </blockquote>

                            <p>&mdash; Achieng Odhiambo</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_4.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>"Utibu Health has exceeded my expectations in every way. Their commitment to
                                    providing top-notch care and convenience is truly commendable. I've been a customer
                                    for years, and I wouldn't trust anyone else with my healthcare needs. Thank you for
                                    your dedication to your patients' well-being."</p>
                            </blockquote>

                            <p>&mdash; Kamau Maina</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="{% static 'phamacy/' %}images/person_4.jpg" alt="Image"
                                     class="img-fluid w-25 mb-4 rounded-circle">
                                <p>"I've been a loyal customer of Utibu Health for as long as I can remember, and for
                                    good reason. Their mobile app has revolutionized how I manage my hypertension
                                    medications. Ordering refills is a breeze, and the option to pay later at the
                                    pharmacy is a game-changer. Utibu Health truly cares about its customers, and it
                                    shows in every interaction."</p>
                            </blockquote>

                            <p>&mdash; Muthoni Nyaga</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

