{% extends 'pharmacy/base.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}

    <!-- Breadcrumbs -->
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Home</a> <span class="mx-2 mb-0">/</span>
                    <a href="{% url 'store' %}">Store</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">{{ product.name }}</strong></div>
            </div>
        </div>
    </div> <!-- End Breadcrumbs -->

    <!-- Main Section -->
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mr-auto">
                    <div class="text-center">
{#                        <img src="{% static 'phamacy/images/' %}{{ product.image }}" alt="Image" class="img-fluid p-5">#}
                        <img src="{{ product.medication_image.url }}" alt="Image" class="img-fluid p-5">
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-black">{{ product.name }}</h2>
                    <p>{{ product.description }}</p>

                    <p>
                        <del></del>
                        <strong class="text-black h4">£{{ product.price }}</strong>
                    </p>
                    <p class="text-black h6">Product Inventory: {{ product.stock_quantity }} Items in stock</p>

                    <form id="order-form" action="" method="post">
                        {% csrf_token %}
                        {{ form.medication.as_hidden }}
                        {{ form.medication_price.as_hidden }}
                        <div class="mb-4">

                            {% if form.errors %}
                                <div class="alert alert-danger mt-3" role="alert">
                                    {% for field, error_list in form.errors.items %}
                                        {% for error in error_list %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="input-group mb-3" style="max-width: 220px;">
                                <div class="mt-2">
                                    <p class="h6">Enter Desired Quantity</p>
                                    <!-- Quantity input field -->
                                    {{ form.quantity }}
                                </div>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="buy-now btn btn-sm height-auto px-4 py-3 btn-outline-success">
                            Place Order
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Section -->

    <!-- JavaScript to dynamically update max quantity based on selected medication -->

    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            // Function to update max attribute of quantity field#}
    {#            function updateMaxQuantity() {#}
    {#                // Get the selected medication's stock quantity#}
    {#                var stockQuantity = parseInt($('#id_medication option:selected').data('stock'));#}
    {#                // Set the max attribute of the quantity input field#}
    {#                $('#id_quantity').attr('max', stockQuantity);#}
    {#            }#}
    {##}
    {#            // Call the function when the page loads#}
    {#            updateMaxQuantity();#}
    {##}
    {#            // Call the function whenever the selected medication changes#}
    {#            $('#id_medication').change(function () {#}
    {#                updateMaxQuantity();#}
    {#            });#}
    {#        });#}
    {#    </script> <!-- End Javascript #}


    {#    <!-- Main Section -->#}
    {#    <div class="site-section">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-5 mr-auto">#}
    {#                    <div class="text-center">#}
    {#                        <img src="{% static 'phamacy/images/' %}{{ product.image }}" alt="Image" class="img-fluid p-5">#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-6">#}
    {#                    <h2 class="text-black">{{ product.name }}</h2>#}
    {#                    <p>{{ product.description }}</p>#}
    {##}
    {#                    <p>#}
    {#                        <del></del>#}
    {#                        <strong class="text-black h4">£{{ product.price }}</strong>#}
    {#                    </p>#}
    {#                    <p class="text-black h6">Product Inventory: {{ product.stock_quantity }} Items in stock</p>#}
    {##}
    {#                    <form action="" method="post">#}
    {#                        {% csrf_token %}#}
    {#                        {{ form.medication.as_hidden }}#}
    {#                        {{ form.medication_price.as_hidden }}#}
    {#                        <div class="mb-5">#}
    {#                            <div class="input-group mb-3" style="max-width: 220px;">#}
    {#                                <div class="input-group-prepend">#}
    {#                                    <button class="btn btn-outline-secondary js-btn-minus" type="button">&minus;#}
    {#                                    </button>#}
    {#                                </div>#}
    {#                                {{ form.quantity }}#}
    {#                                <div class="input-group-append">#}
    {#                                    <button class="btn btn-outline-secondary js-btn-plus" type="button">&plus;</button>#}
    {#                                </div>#}
    {#                                <div class="mt-3">#}
    {#                                    <p class="h6">Enter Desired Quantity</p>#}
    {#                                    <p>{{ form.quantity }}</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {#                        <button type="submit" class="buy-now btn btn-sm height-auto px-4 py-3 btn-outline-success">Place#}
    {#                            Order#}
    {#                        </button>#}
    {#                    </form>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div> <!-- End Main Section -->#}


{% endblock %}